---
Language: Cpp
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
CompactNamespaces: false
IndentCaseLabels: true
IndentGotoLabels: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
#QualifierAlignment: Left
#ReferenceAlignment: Right
ReflowComments: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: true
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: true
SpacesInContainerLiterals: false
SpacesInParentheses: false
ColumnLimit: 1000
TabWidth: 2
IndentWidth: 2
UseTab: Never
SpaceBeforeParens: ControlStatements
